*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 0.938vw;
  background-color: #1b1919;
  inline-size: 62.5%;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-size: 0.938vw;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 1.563vw;
  margin: 0 1.563vw;
  width: 100%;
  height: 100%;
  max-height: 27.813vw;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: end;
}

.result__video-container {
  position: relative;
  margin-bottom: 0.833vw;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
  gap: 1.563vw;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.221vw;
  width: 100%;
  gap: 0.26vw;
  height: fit-content;
}

.search-form__checkbox-list {
  display: flex;
  gap: 0.781vw;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 0.99vw;
  height: 0.99vw;
  background-color: #000;
  border: 0.052vw solid #fff;
  margin-right: 0.26vw;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 0.781vw;
  height: 0.781vw;
  background-color: white;
  border: 0.052vw solid #fff;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button {
  display: flex;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 0.938vw;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: 0.052vw solid #fff;
  justify-content: center;
  height: 1.771vw;
  margin-bottom: 0.156vw;
  align-items: center;
  cursor: pointer;
}

.more-button {
  width: 100%;
}

.search-form__submit-button {
  min-width: 10.104vw;
}

.search-form__textfield {
  outline: none;
  background: transparent;
  border: 0.052vw solid #fff;
  border-left: none;
  border-right: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  width: 100%;
  font-size: 0.938vw;
  color: #fff;
  appearance: none;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25vw;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.042vw;
  width: 56%;
  max-height: 27.813vw;
}

.content__list-item {
  margin: 0.156vw;
}

.content__video-card {
  display: flex;
  color: white;
  font-family: Oswald, sans-serif;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__video-card-title {
  font-size: 1.563vw;
  font-weight: bold;
  text-transform: uppercase;
}

.content__video-card-thumbnail {
  width: 49%;
  object-fit: cover;
}

.content__video-card-description-container {
  padding-left: 0.156vw;
  width: 51%;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 0.833vw;
}

.title {
  font-size: 3.906vw;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 94%;
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: #545050;
}

.content__list-item:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.button:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__list:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 0.052vw solid white;
  outline-offset: 0.104vw;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label-text:focus,
.search-form__label-text:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 0.052vw solid white;
  outline-offset: 0.104vw;
}

.button:focus-visible {
  outline: 0.052vw solid white;
  outline-offset: 0.104vw;
}

.search-form__fieldset:nth-child(2) {
  padding-left: 0.417vw;
  margin-bottom: 0.156vw;
}

.search-form__fieldset:nth-child(2) .search-form__label:hover{
  text-decoration: underline;
}
