*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 0.938vw;
  background-color: #1b1919;
  inline-size: 62.5%;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  gap: 1.563vw;
  width: 100%;
  height: 100%;
  max-height: 27.813vw;
  margin: 0 1.563vw;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  margin-bottom: 0.833vw;
  height: 72%;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 1.563vw;
  width: 100%;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.26vw;
  width: 100%;
  height: fit-content;
  border: 0;
  padding-bottom: 0.221vw;
}

.search-form__fieldset:has(.search-form__checkbox-list) {
  margin-bottom: 0.156vw;
  padding-left: 0.417vw;
}

.search-form__fieldset-title {
  font-weight: normal;
  font-size: inherit;
}

.search-form__checkbox-list {
  display: flex;
  gap: 0.781vw;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 0.052vw solid white;
  outline-offset: 0.104vw;
}

.search-form__textfield {
  width: 100%;
  border: 0.052vw solid #fff;
  border-right: none;
  border-left: none;
  outline: none;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: inherit;
  background: transparent;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.99vw;
  height: 0.99vw;
  margin-right: 0.26vw;
  outline: 0.052vw solid #fff;
  background-color: transparent;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 0.781vw;
  height: 0.781vw;
  outline: 0.052vw solid #fff;
  background-color: white;
}

.search-form__checkbox-list > .search-form__label:hover {
  text-decoration: underline;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.771vw;
  margin-bottom: 0.156vw;
  border: 0.052vw solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
}

.more-button {
  width: 100%;
}

.search-form__submit-button {
  min-width: 10.104vw;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 0.052vw solid white;
  outline-offset: 0.104vw;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1.042vw;
  width: 56%;
  max-height: 27.813vw;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: bold;
  font-size: 3.906vw;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: auto;
}

.content__list-item {
  margin: 0.156vw;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list > .content__list-item:not(:last-child) {
  margin-bottom: 1.563vw;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 0.052vw solid white;
  outline-offset: 0.104vw;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  color: white;
  font-family: Oswald, sans-serif;
}

.content__video-card-description-container {
  width: 51%;
  padding-left: 0.156vw;
}

.content__video-card-title {
  font-weight: bold;
  font-size: 1.563vw;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 0.833vw;
}

.content__video-card-thumbnail {
  width: 49%;
  object-fit: cover;
}
